In [ ]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install openpyxl

In [5]:
import pandas as pd
import io

In [7]:
df=pd.read_excel('Inmuebles.xlsx')
df

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
1,2,2004-01-01,Local,Venta,Girona,199,1945424,2004-04-19,Pedro
2,3,2004-01-01,Oficina,Alquiler,Girona,82,712416,2004-11-08,Joaquín
3,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
4,5,2004-01-02,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...,...
3332,3333,2007-04-29,Industrial,Alquiler,Lleida,221,1450644,NaT,NaN
3333,3334,2007-04-29,Piso,Alquiler,Girona,55,454080,NaT,NaN
3334,3335,2007-04-30,Suelo,Venta,Tarragona,78,740688,NaT,NaN
3335,3336,2007-04-30,Piso,Alquiler,Barcelona,88,397408,NaT,NaN
3336,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT,NaN