In [ ]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install openpyxl

In [3]:
import pandas as pd
import io

In [ ]:
df=pd.read_excel('Inmuebles.xlsx',index_col=1)
df.info()
df

In [7]:
#Con este filtro podemos ver datos específicos dentro de nuestra base de datos
#en este caso se muestra los datos de ventas de la columna "Tipo" filtrados por "Parking"
f1=df[df["Tipo"] == "Parking"]
f1

,Referencia,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Fecha Alta,,,,,,,,
2004-01-01,1,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
2004-01-02,4,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
2004-01-03,7,Parking,Alquiler,Tarragona,69,406686,2004-06-07,Pedro
2004-01-04,10,Parking,Venta,Lleida,299,2042768,2004-10-06,Joaquín
2004-01-04,13,Parking,Venta,Barcelona,300,2937300,2004-11-04,Jesús
...,...,...,...,...,...,...,...,...
2007-04-16,3310,Parking,Alquiler,Tarragona,197,825430,NaT,NaN
2007-04-18,3313,Parking,Alquiler,Tarragona,187,1297780,NaT,NaN
2007-04-23,3321,Parking,Alquiler,Barcelona,81,607014,NaT,NaN
2007-04-27,3330,Parking,Venta,Barcelona,88,612568,NaT,NaN
2007-04-30,3337,Parking,Venta,Lleida,254,2140712,NaT,NaN