In [ ]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install openpyxl

In [3]:
import pandas as pd
import io

In [5]:
df=pd.read_excel('Inmuebles.xlsx')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Referencia    3337 non-null   int64
 1   Fecha Alta    3337 non-null   datetime64[ns]
 2   Tipo          3337 non-null   object
 3   Operación     3337 non-null   object
 4   Provincia     3337 non-null   object
 5   Superficie    3337 non-null   int64
 6   Precio Venta  3337 non-null   int64
 7   Fecha Venta   2759 non-null   datetime64[ns]
 8   Vendedor      2759 non-null   object
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 234.8+ KB

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
1,2,2004-01-01,Local,Venta,Girona,199,1945424,2004-04-19,Pedro
2,3,2004-01-01,Oficina,Alquiler,Girona,82,712416,2004-11-08,Joaquín
3,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
4,5,2004-01-02,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...,...
3332,3333,2007-04-29,Industrial,Alquiler,Lleida,221,1450644,NaT,NaN
3333,3334,2007-04-29,Piso,Alquiler,Girona,55,454080,NaT,NaN
3334,3335,2007-04-30,Suelo,Venta,Tarragona,78,740688,NaT,NaN
3335,3336,2007-04-30,Piso,Alquiler,Barcelona,88,397408,NaT,NaN
3336,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT,NaN

In [6]:
#Con este filtro podemos ver datos específicos dentro de nuestra base de datos
#en este caso se muestra los datos de ventas de la columna "Tipo" filtrados por "Parking"
f1=df[df["Tipo"] == "Parking"]
f1

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
3,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
6,7,2004-01-03,Parking,Alquiler,Tarragona,69,406686,2004-06-07,Pedro
9,10,2004-01-04,Parking,Venta,Lleida,299,2042768,2004-10-06,Joaquín
12,13,2004-01-04,Parking,Venta,Barcelona,300,2937300,2004-11-04,Jesús
...,...,...,...,...,...,...,...,...,...
3309,3310,2007-04-16,Parking,Alquiler,Tarragona,197,825430,NaT,NaN
3312,3313,2007-04-18,Parking,Alquiler,Tarragona,187,1297780,NaT,NaN
3320,3321,2007-04-23,Parking,Alquiler,Barcelona,81,607014,NaT,NaN
3329,3330,2007-04-27,Parking,Venta,Barcelona,88,612568,NaT,NaN
3336,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT,NaN

In [7]:
#Este segundo filtro nos muestra los datos de las filas 
#100 a la 250 de manera consecutiva
f2=df.iloc[100:250,:]
f2

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
100,101,2004-02-08,Suelo,Alquiler,Girona,162,710694,2004-09-27,María
101,102,2004-02-08,Local,Venta,Barcelona,45,438435,2004-05-23,Luisa
102,103,2004-02-08,Casa,Alquiler,Girona,258,1188090,2004-07-19,María
103,104,2004-02-09,Oficina,Venta,Tarragona,104,699400,2004-07-14,Luisa
104,105,2004-02-10,Piso,Alquiler,Girona,238,1854496,2005-02-02,Luisa
...,...,...,...,...,...,...,...,...,...
245,246,2004-04-09,Local,Venta,Girona,287,1936102,2005-04-08,Jesús
246,247,2004-04-09,Industrial,Alquiler,Barcelona,159,1582527,2004-12-09,Jesús
247,248,2004-04-09,Suelo,Alquiler,Girona,136,873120,2004-12-26,Pedro
248,249,2004-04-09,Industrial,Venta,Tarragona,223,2026401,2004-12-13,Joaquín
249,250,2004-04-09,Piso,Alquiler,Lleida,175,747075,2005-02-01,Pedro

In [9]:
#El tercer filtro muestra solo ciertas columnas cualitativas que hemos elegido
#de la base datos (Tipo,Operacion, Provincia y Vendedor) 
f3=df.iloc[:,[2,3,4,8]]
f3

            Tipo Operación  Provincia Vendedor
0        Parking  Alquiler     Lleida   Carmen
1          Local     Venta     Girona    Pedro
2        Oficina  Alquiler     Girona  Joaquín
3        Parking  Alquiler     Girona    Jesús
4          Suelo     Venta  Tarragona    María
...          ...       ...        ...      ...
3332  Industrial  Alquiler     Lleida      NaN
3333        Piso  Alquiler     Girona      NaN
3334       Suelo     Venta  Tarragona      NaN
3335        Piso  Alquiler  Barcelona      NaN
3336     Parking     Venta     Lleida      NaN

[3337 rows x 4 columns]

In [23]:
#Filtro de filas vs columnas 
#Se fijó la columna "Provincia" y se muestras los datos referentes al tipo de operación,
#superficie, precio de venta y finalmente el nombre del vendedor
df=pd.read_excel('Inmuebles.xlsx',index_col=4)
f4=df.loc[["Lleida","Girona"],["Operación","Superficie","Precio Venta","Vendedor"]]
f4

          Operación  Superficie  Precio Venta Vendedor
Provincia
Lleida     Alquiler         291       2133903   Carmen
Lleida     Alquiler         108       1024380    Jesús
Lleida        Venta         299       2042768  Joaquín
Lleida     Alquiler         116        727552    Pedro
Lleida     Alquiler         224       1294048   Carmen
...             ...         ...           ...      ...
Girona        Venta         128       1270400      NaN
Girona        Venta         221       1533077      NaN
Girona        Venta         247       1804088      NaN
Girona        Venta         110        845790      NaN
Girona     Alquiler          55        454080      NaN

[1645 rows x 4 columns]

In [25]:
#comparación
df=pd.read_excel('Inmuebles.xlsx',index_col=1)
f5=df.head()
f5

,Referencia,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Fecha Alta,,,,,,,,
2004-01-01,1,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
2004-01-01,2,Local,Venta,Girona,199,1945424,2004-04-19,Pedro
2004-01-01,3,Oficina,Alquiler,Girona,82,712416,2004-11-08,Joaquín
2004-01-02,4,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
2004-01-02,5,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María

In [26]:
#FILTROS BASICOS PARA VARIABLES CUANTITATIVAS
#Filtro por comparacion donde se muestran los Vendedores que tengan una superficie mayor o
#igual a 100mts^2
df=pd.read_excel('Inmuebles.xlsx',index_col=8)
f6=df[df["Superficie"]>=100]
f6

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta
Vendedor,,,,,,,,
Carmen,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19
Pedro,2,2004-01-01,Local,Venta,Girona,199,1945424,2004-04-19
Jesús,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27
María,5,2004-01-02,Suelo,Venta,Tarragona,152,1138024,2004-07-10
Pedro,6,2004-01-03,Industrial,Alquiler,Girona,131,953156,2004-09-05
...,...,...,...,...,...,...,...,...
NaN,3329,2007-04-26,Piso,Venta,Barcelona,264,2517504,NaT
NaN,3331,2007-04-27,Local,Venta,Girona,110,845790,NaT
NaN,3332,2007-04-29,Oficina,Venta,Lleida,190,1031320,NaT
NaN,3333,2007-04-29,Industrial,Alquiler,Lleida,221,1450644,NaT
NaN,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT